
/* ============= PROJECT CSS =============== */
nav{
  background: whitesmoke;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.nav-header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem
}

.nav-toggle{
  font-size:1.5rem;
  color: #49a6e9;
  background: transparent;
  border-color:transparent; 
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.nav-toggle:hover{
  color: #1a6aa2;
  transform: rotate(90deg);
}

.links a{
  color: #334155;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  display:block;
  padding: 0.5 rem 1rem;
  transition:0.3s ease-in-out all;
}
.links a:hover{
  background:#c5e5fc;
  color: #49a6e9;
  padding-left: 1.5rem;
}


.links-container{
height:0;
overflow: hidden;
transition: 0.3s ease-in-out all;
}

.show-container{
  height: inherit;
}
a{
  text-decoration: none;
}
ul {
  list-style: none;
}